@import url('https://fonts.googleapis.com/css?family=Ubuntu|Lora');

h1{
    font-family: 'Ubuntu'; 
    font-size: 3em;
    text-align: center;
    text-shadow: 2px 2px;
}
body{
    background-color: rgb(109,106,101);
    font-family: 'Lora';
    font-size: 2em;
}